<h1 class="text-center">Edit Category Name</h1>

<%= render 'shared/errors', obj: @category %>

<%= render 'form' %>

<div class="text-center">
  [ <%= link_to "Cancel request and return to articles listing", articles_path %> ]
</div>
