<h1 class="text-center">Listing all Categories</h1>
<div class="text-center">
  <%= will_paginate %>
  <ul class="listing">
    <% @categories.each do |category| %>
      <li class="article-title">
        <div class="row mb-2">
          <div class="card col-md-4 offset-4 pt-2 pb-2">
            <%= link_to "#{category.name}", category_path(category) %>
            <small><%= pluralize(category.articles.count, "article") %></small>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= will_paginate %>
</div>
